@{
    ViewData["Title"] = "Home Page";
}

<div class="container bg-info">
    <div class="row" style="height:400px">
        <div class="col col-12 d-xl-none bg-secondary" style="height:150px; color:white;"><b>Área 1</b></div>
        <div class="col d-none d-xl-block col-xl-4 bg-secondary" style="height: 400px; color:white;"><b>Área 1</b></div>
        <div class="col bg-info col-md-8 col-xl-6" style="height:400px;"><b>Área 2</b></div>
        <div class="col d-none d-md-block bg-primary col-md-4 col-xl-2" style="height:400px; color:white;"><b>Área 3</b></div>
        <div class="col col-12 bg-primary d-md-none" style="height:100px; color:white;"><b>Área 3</b></div>
    </div>
</div>